div#background{
    background-image: url(../../images/bg-reviver-green.png);
    height:100vh;

    .title{
        margin-bottom: 15px;
    }
    #button-green{
        background-color: #087776;
    }
    
    #button-green:hover{
        background-color: #2d8c8b;
    }
    
    h2{
        color:#087776
    }

    .linear-prog{
        background-color: #2d8c8b;
    }
}

