.chart {
    padding-left: 25px;
    padding-top: 10px;
    color: gray;
  
    .title {
      margin-bottom: 20px;
      color:#888;
    }
  
    .chartGrid {
      stroke: rgb(228, 225, 225);
    }
  }