.home{
    display: flex;  


    .homeContainer{
        background-color: #ffff;
        flex:6;
        min-height: 100vh;
        color:#087776;

        #box-home{
            margin-left: 5%;
            margin-top: 3%;
            margin-right:5%;
        }
    }
}

