.home{
    display: flex;  


    .homeContainer{
        background-color: #ffff;
        flex:6;
        color:#087776;
        margin: 2%;

        #box-home{
            margin-left: 5%;
            margin-right:5%;

            .title{
                margin-top: 2%;
                margin-bottom: 1%;
            }
        }
    }
}

