.list {
    display: flex;
    width: 100%;
    .listContainer {
      flex: 6;
      color:#087776;

      #box-volunteerd{
        margin-left: 5%;
        margin-right:5%;
        margin-top: 5%;
      
      #paper-data{
        width: 400px;
        height: 495px;
        

        #data-text{
          margin-bottom: 20px;

        }

        .textField{
          margin-bottom: 8px;
          
        }

      }

    }
    }


    
}